*, 
*::before,
*::after {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}
html {
	font-size: 62.5%;
}

.wrapper {
	width: 60%;
	margin: 3rem auto;
	border: 2px solid #000;
	border-right: 6px solid #000;
	border-left: 3px solid #000;
	padding: .1rem;
}
.container {
	border: 2px solid #000;
	padding: 4rem;
}
/*.wrapper::before {
	display: block;
	content: " ";
	border-top: 2px solid red;
	border-right: 10px solid red;
}*/
.header {
	text-align: center;
}
.header p {
	font-size: 1.8rem;
}
.header h1 {
	font-size: 3.2rem;
	text-transform: uppercase;
}
.header .tel {
	text-decoration: underline;
	color: blue;
}
.certifications {
	margin: 4rem 0 6rem;
}
.certifications .title,
.schools .title,
.skills .title,
.experiences .title,
.profiles .title {
	text-align: center;
	font-weight: 900;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 4rem 0 1rem;
	border: 1px solid #000;
	border-bottom: 3px solid #000;
	border-right: 3px solid #000;
	padding: .5rem;
}

.certification, 
.school-name,
.experience-type {
	display: flex;
	justify-content: space-between;
}
.certification span {
	font-weight: bold;
}

.certification:not(:last-of-type),
.school:not(:last-of-type),
.experience:not(:last-of-type) {
	margin-bottom: 2rem;
}

.certification p,
.school-name p, 
.skills p,
.experience p {
	font-size: 1.8rem;
}

.school,
.experience {
	display: flex;
	flex-direction: column;
}
.school h3 {
	font-size: 1.8rem;

}

.profile {
	font-size: 1.8rem;
}

@media screen and (max-width: 769px){
	.wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 426px){
	.wrapper {
		width: 90%;
	}

	.certifications .title,
	.schools .title,
	.skills .title,
	.experiences .title,
	.profiles .title {
		font-size: 1.5rem;
	}
}